<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"><%= @article.title %></span>
  </div>
</nav>
<div class='mt-2 mb-2 container-fluid'>

<div class='col-8 m-2' >
<div  class='card mb-2 p-3 ' style="min-height: 8rem;"> <%= @article.text %> </div>
<div>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article),
                method: :delete,
                data: {confirm: "Are you sure?"}%>
</div>


<div>
<h4>Comments</h4>  
 We have <%=  @comentario  %> 
<%= render @article.comments %>
</div>

<div>
<h2>Add a comment:</h2>   

<%= render 'comments/form' %>
</div>

<div> <%= link_to "Home", root_path  %> </div>

</div></div>